<template>
  <div class="about">
    <section class="star-wars">
      <div class="crawl">
        <br />
        <br />
        <br />
        <br />
        <h1>LE BINIOU</h1>
        <br />
        <br />
        <h2>Brought to you by:</h2>
        <ul>
          <li>Olivier &laquo;oliv3&raquo; Girondel</li>
        </ul>
        <br />
        <h2>Contributors:</h2>
        <ul>
          <li>Laurent &laquo;lolo&raquo; Fileux</li>
          <li>Frantz &laquo;zebulon&raquo; Balinski</li>
          <li>Olivier &laquo;ofredj&raquo; Fredj</li>
          <li>Thierry &laquo;tsm&raquo; Mallard</li>
          <li>Gabriel &laquo;gab&raquo; Forté</li>
          <li>Rudy &laquo;paparoot&raquo; Berry</li>
          <li>Fabrice &laquo;splissken&raquo; Durand</li>
          <li>Sébastien &laquo;dereckson&raquo; Santoro</li>
          <li>Robin &laquo;rgareus&raquo; Gareus</li>
          <li>Olivier &laquo;trebmuh&raquo; Humbert</li>
          <li>Nicolas &laquo;sub26nico&raquo; Faure</li>
          <li>Erwan &laquo;r1&raquo; Lerale</li>
          <li>Marco &laquo;lilith93&raquo; Neumaier</li>
          <li>Markku &laquo;tavasti&raquo; Tavasti</li>
          <li>Laurent &laquo;jko&raquo; Marsac</li>
          <li>Emmanuel &laquo;mk&raquo; Valdenaire</li>
          <li>Nicolas &laquo;babelouest&raquo; Mora</li>
          <li>Paul &laquo;pabs&raquo; Wise</li>
          <li>Adam &laquo;kilobyte&raquo; Borowski</li>
          <li>Filippe &laquo;gasinvein&raquo; LeMarchand</li>
          <li>Christopher &laquo;kode54&raquo; Snowhill</li>
          <li>Antoine &laquo;opale95&raquo; Wright</li>
          <li>Mikko &laquo;tech-yes&raquo; Moisio</li>
          <li>Loïc &laquo;lbart&raquo; Bartoletti</li>
        </ul>
      </div>
    </section>
  </div>
</template>

<style scoped>
h1 {
  text-align: center;
  font-size: 4em;
  font-weight: 600%;
}

h2 {
  text-align: left;
  font-size: 100%;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

h1, h2, .star-wars {
  color: #feda4a;
}

/*
 * Original code: https://css-tricks.com/snippets/css/star-wars-crawl-text/
 */

.star-wars {
  /* Flexbox to center the entire element on the screen */
  display: flex;
  justify-content: center;
  /* This is a magic number based on the context in which this snippet is used and effects the perspective */
  height: 100vh;
  /* This sets allows us to transform the text on a 3D plane, and is somewhat a magic number */
  perspective: 400px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
}

.crawl {
  /* Position the element so we can adjust the top property in the animation */
  position: relative;
  /* Defines the skew origin at the very center when we apply transforms on the animation */
  transform-origin: 50% 100%;
  /* Adds the crawl animation, which plays for one minute */
  animation: crawl 60s linear infinite;
}

@keyframes crawl {
  0% {
    /* The element starts below the screen */
    top: 0;
    /* Rotate the text 20 degrees but keep it close to the viewer */
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    /* This is a magic number, but using a big one to make sure the text is fully off the screen at the end */
    top: -6000px;
    /* Slightly increasing the rotation at the end and moving the text far away from the viewer */
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
</style>
