<template>
  <div class="home container main">
    <!-- <div class="top-quote">
      <span class="quote">&quot;A very small cause which escapes our notice determines a considerable effect that we cannot fail to see, and then we say that the effect is due to chance.&quot;</span> &ndash; <a href="https://en.wikipedia.org/wiki/Henri_Poincar%C3%A9">Henri Poincar&eacute;</a>, 1908
    </div> -->
    <div>
      <div class="row header item">
        <div class="col-sm" data-aos="fade-right" data-aos-duration="2800">
          <h1 class="text-left">
            <strong class="lb-software">Le Biniou</strong> is the #1
            open&#8288;-&#8288;source, user&#8288;-&#8288;friendly, powerful
            <strong class="lb-software">music visualization</strong> & VJing
            tool.
          </h1>
          <p class="text-left">
            <strong class="lb-target"
              >Are you an artist, composer, or VJ ?</strong
            >
            Create live visuals based on your audio performances or existing
            tracks.
          </p>
          <p class="text-left">
            <strong class="lb-target">As a music fan,</strong> watch an
            everlasting, mesmerizing and totally unseen creation reacting to the
            music.
          </p>
        </div>
        <div class="col-sm" data-aos="flip-right" data-aos-duration="1000">
          <b-carousel
            ref="carousel"
            :interval="5000"
            controls
            indicators
            img-width="640"
            img-height="360"
            style="text-shadow: 1px 1px 2px #333;"
          >
            <b-carousel-slide v-for="(item, index) in carouselImgs" :key="index" :class="carouselItem(index)">
              <template #img>
                <img
                  v-if="item.img"
                  class="d-block w-100"
                  :src="item.img"
                  :alt="altName(item.img)"
                />
                <video
                  v-else
                  class="d-block w-100 embed-responsive embed-responsive-16by9"
                  autoplay
                  muted
                  loop
                >
                  <source :src="item.video" type="video/mp4" />
                </video>
              </template>
            </b-carousel-slide>
          </b-carousel>
          <div align="center">
            <form action="https://www.paypal.com/donate" method="post" target="_top">
              <input type="hidden" name="hosted_button_id" value="SENH8QG25BP58" />
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
              <img alt="" border="0" src="https://www.paypal.com/en_FR/i/scr/pixel.gif" width="1" height="1" />
            </form>
          </div>
          <p style="text-align: center">
            Current version: 3.66. <a target="_blank" href="https://gitlab.com/lebiniou/lebiniou/-/tags">Release notes.</a>
            <br />
            <a
              class="flathub-link"
              href="https://media.biniou.net/red/download_flatpak"
            >
              <img
                alt="Download on Flathub"
                src="https://media.biniou.net/red/flathub-badge-en-2.png"
              />
            </a>
            <br />
            <!-- <br />
            Beta version: 3.61. <a target="_blank" href="https://gitlab.com/lebiniou/lebiniou/-/wikis/Releases#beta-releases">
            Installation instructions.</a> -->
          </p>
        </div>
      </div>
    </div>
    <div class="control" id="control">
      <img
        class="down-icon"
        src="@/assets/down.png"
        alt="Scroll down"
        onclick="window.scrollBy(0, 480)"
      />
    </div>
    <div class="row item" data-aos="fade-up">
      <section id="tech_specs">
        <div>
          <h1>Minimum System Requirements</h1>
          <ul>
            <li>GNU/Linux</li>
            <li>Windows10 with WSL2</li>
            <li>Mac OS</li>
            <li>FreeBSD</li>
            <li>NetBSD</li>
            <li>OpenBSD</li>
          </ul>
          <h1>Recommended System Requirements</h1>
          <ul>
            <li>Full HD display</li>
          </ul>
          <h1>Rendering and Output</h1>
          <ul>
            <li>Work with any number of plugins/layers at a time</li>
            <li>
              Display your final output fullscreen across a dedicated window
            </li>
            <li>Record any video stream directly to disk as MP4</li>
            <li>Capture any video image directly to disk as PNG</li>
            <li>
              Broadcast video streams as RTMP or HLS, or to a V4L2 loopback
              device
            </li>
          </ul>
        </div>

        <div>
          <h1>Visual Effects</h1>
          <ul>
            <li>100+ total plugins</li>
            <li>40+ plugins reacting to sound</li>
            <li>Quickly save and restore effects presets</li>
            <li>Possibilility to select favorite plugins</li>
          </ul>
          <h1>Mixing and Composition</h1>
          <ul>
            <li>Per layer pixel operations</li>
            <li>
              Band-pass filter to apply 'green screen' transparency effect for
              e.g. videos or webcams
            </li>
            <li>Built-in preview window</li>
          </ul>
        </div>

        <div>
          <h1>Audio acquisition</h1>
          <ul>
            <li>
              Live
              <ul>
                <li><a href="https://jackaudio.org">JACKAudio</a></li>
                <li><a href="https://pipewire.org">PipeWire</a></li>
                <li>
                  <a href="https://alsa-project.org/wiki/Main_Page">ALSA</a>
                </li>
                <li>
                  <a
                    href="https://www.freedesktop.org/wiki/Software/PulseAudio/"
                    >PulseAudio</a
                  >
                </li>
                <li><a href="https://opensound.com">Open Sound System</a></li>
                <li><a href="https://sndio.org/">Sndio</a></li>
              </ul>
            </li>
            <li>
              File and Synthetizers
              <ul>
                <li>
                  <a href="https://mega-nerd.com/libsndfile">libsndfile</a>
                </li>
                <li>Twip</li>
                <li>Random noise</li>
              </ul>
            </li>
            <li>
              BPM detection from audio signal powered by
              <a href="https://fftw.org/">FFTW</a>
            </li>
          </ul>
        </div>
        <div>
          <h1>Media Playback</h1>
          <ul>
            <li>
              Play any video type supported by
              <a href="https://ffmpeg.org">FFmpeg</a>
            </li>
            <li>
              Video rescaling using
              <a href="https://ffmpeg.org/libswscale.html">Libswscale</a>
            </li>
          </ul>
          <h1>Supported Media Types</h1>
          <ul>
            <li>
              All image types supported by
              <a href="https://imagemagick.org/">Image Magick</a>
            </li>
            <li>Live cameras</li>
          </ul>
          <h1>Connectivity and Automation</h1>
          <ul>
            <li>
              REST API and WebSocket communications powered by
              <a href="https://github.com/babelouest/ulfius">Ulfius</a>
            </li>
            <!--<li>Connect to any standard MIDI and OSC enabled controller</li>-->
          </ul>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { CAROUSEL, EGG } from '@/assets/carousel'

export default {
  name: 'Home',
  data () {
    return {
      carouselImgs: []
    }
  },
  created () {
    this.carouselImgs = CAROUSEL
    const date = new Date()
    if (date.getMonth() + 1 === 4 && date.getDate() === 1) {
      // console.info('Adding easter egg')
      this.carouselImgs.push(EGG)
    } else {
      // console.info('Today is not the day')
    }
    this.shuffleArray(this.carouselImgs)
  },
  methods: {
    altName: (img) => {
      const path = img.split('/')
      return path[path.length - 1].split('.')[0]
    },
    carouselItem: (index) => `carousel-item${!index ? ' active' : ''}`,
    pad2: (i) => (i < 10 ? '0' + i : i),
    shuffleArray: function (arr) {
      for (let i = arr.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1))
        const k = arr[i]
        arr[i] = arr[j]
        arr[j] = k
      }
    }
  }
}

window.onscroll = () => {
  const control = document.getElementById('control')
  if (control !== null) {
    if (window.innerHeight + window.pageYOffset >= document.body.offsetHeight) {
      control.style.visibility = 'hidden'
    } else {
      control.style.visibility = 'visible'
    }
  }
}
</script>

<style scoped>
.home {
  margin-top: -20px;
}

video {
  margin-bottom: 10px;
}

#tech_specs {
  min-width: 80px;
  margin: 40px auto;
}

#tech_specs h1 {
  color: lime;
  font-size: 24px;
}

#tech_specs div {
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
  width: 292px;
  text-align: left;
}

#tech_specs ul {
  margin: 4px 20px 20px;
  padding-left: 8px;
  list-style: square;
}

#tech_specs li {
  margin-bottom: 2px;
  font-size: 20px;
}

.control-hidden {
  visibility: hidden;
}
</style>
