<template>
  <div class="container main">
    <h2>Latest news</h2>
    <p class="center-description">Fresh information about <strong>new versions</strong> and other <strong>significant events</strong>.</p>
    <Showcase :data="news" />
  </div>
</template>

<script>
import NEWS from '@/assets/news.js'
import Showcase from '@/components/Showcase'

export default {
  name: 'News',
  components: { Showcase },
  data () {
    return {
      news: NEWS
    }
  }
}
</script>

<style scoped>
</style>
