<template>
  <div class="container main showcase" data-aos="fade-up">
    <div v-for="(row, index) in rows" :key="index" class="row item" data-aos="fade-up">
      <div v-for="(news, index) in row" :key="index" class="col-sm showcase-item item" :data-aos="columnAos(index)">
        <h3 v-if="news.title"><span v-if="news.date" class="date">{{ news.date }} &ndash; </span>{{ news.title }}</h3>
        <h3 v-if="news.artist" v-html="news.artist"></h3>
        <p v-if="news.description" v-html="news.description"></p>
        <div v-if="news.screenshot" class="screenshot-container">
          <img class="screenshot lozad" width="530" height="320" :src="screenshotUrl(news.screenshot)" />
        </div>
        <div v-if="news.video" class="embed-responsive embed-responsive-4by3 video-container">
          <video class="lozad" controls :poster="news.poster || ''">
            <source :src="news.video" type="video/mp4" />
          </video>
        </div>
        <div v-if="news.youtube" class="video-container">
          <iframe class="lozad" width="480" height="270" :src="youtubeUrl(news.youtube)" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0"></iframe>
        </div>
        <div v-if="news.release"><a :href="releaseLink(news.release)"><strong>Release notes</strong></a></div>
      </div>
    </div>
  </div>
</template>

<script>
import lozad from 'lozad'

export default {
  name: 'Showcase',
  data () {
    return {
      rows: []
    }
  },
  methods: {
    columnAos: index => index % 2 ? 'fade-right' : 'fade-left',
    releaseLink: version => `https://gitlab.com/lebiniou/lebiniou/-/tags/version-${version}`,
    screenshotUrl: screenshot => `https://dl.biniou.net/biniou.net/screenshots/${screenshot}`,
    youtubeUrl: id => `https://www.youtube.com/embed/${id}`
  },
  created () {
    const news = [...this.data]
    this.rows = []
    while (news.length) {
      this.rows.push(news.splice(0, 2))
    }
    if (this.rows[this.rows.length - 1].length !== 2) {
      this.rows[this.rows.length - 1].push({
        artist: 'Add your production here &#128521;'
      })
    }
  },
  mounted () {
    const observer = lozad()
    observer.observe()
  },
  props: ['data']
}
</script>

<style>
.showcase-item {
  margin: 10px;
}

.date {
  color: #ffc8e9;
}

.screenshot-container,
.video-container {
  text-align: center;
}

.screenshot {
  max-width: 100%;
}
</style>
